body {
    font-size: 18px;
    padding-bottom: 50px;
}

ul {
    list-style: none;
    margin-before: 0px;
}

#logo {
    margin-top: 20px;
    width: 200px;
}

.nav-item {
    margin-right: 10px;
    color: #333;
    text-decoration: underline;
    font-size: 16px;
    white-space: nowrap;
}

.entry {
    margin-top: 50px;
    word-break: break-word;
}

.no-regrets {
    color: #27ae60;
}

.regrets {
    color: #e74c3c;
}

.entry-footer {
    margin-top: 10px;
    font-size: 12px;
}

.vote-link, .share-link {
    color: #333;
    text-decoration: underline;
    cursor: pointer;
}