{% extends "layout.html" %}
{% block content %}
<div class="container entry">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <p>
                The idea for this site came to me while drunk on New Years Eve 2017. So I woke up
                hungover the next morning and grabbed my computer by its keyboard and made the
                internet great again.
            </p>
            <p>
                Contact <a href="mailto:admin@trumppanic.com">admin@trumppanic.com</a> if you'd
                like to give me money to advertise on this site or insult me.
            </p>
            <p>
                Mr. Trump, would you like an ad linking to your Twitter account or website?
            </p>
        </div>
    </div>
</div>
{% endblock %}
