{% extends "layout.html" %}
{% block content %}
<div class="container entry">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <p>You're limited to 1,500 characters in each section.</p>
            <form method="POST">
                <div class="form-group">
                    <label for="why">I voted for Trump because</label>
                    <textarea name="why" id="why" class="form-control" rows="5"></textarea>
                </div>
                <div class="form-group">
                    <label for="regret">I regret my decision because</label>
                    <textarea name="regret" id="regret" class="form-control" rows="5"></textarea>
                    <p class="help-block">Leave blank if no regrets.</p>
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
